#p3 {
    color: yellow;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

#learn {
    text-transform: uppercase;
}

.languages {
    background-color: rgb(149, 197, 149);
}

.tools {
    border: 1px solid blue;
}

img + ul {
    list-style-type: none;
}

body > section > img {
    height: 200px;
    border-radius: 90px;
}

img ~ p {
    text-align: center;
}

ul > li {
    letter-spacing: 5px;
}